.about_photo {
    width: 200px;
    margin-top: 7px;
    margin-left: 20px;
    border: 6px rgb(250, 30, 34) dashed;
    border-radius: 6px;
}

#about_me .about_border {
    border: 9px solid rgb(0, 119, 255) ;
    border-radius: 50px ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

#projects .project1 {
    border: 7px solid rgb(250, 30, 34) ;
    border-radius: 30px ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

#projects .project2 {
    border: 7px solid rgb(241, 235, 57) ;
    border-radius: 30px ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.navbar {
    background-color: rgb(0, 119, 255) !important;
}

.navbar a {
    color: white !important;
}
h1, h2 {
    font-family: "Changa One" , sans-serif;
}

.navbar-brand {
    font-family: "Changa One" , sans-serif;
}

.bigsize {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: rgb(219, 38, 41);
}

.bi-star-fill {
    color: rgb(241, 235, 57);
}

.section {
    font-size: 47px;
}

body {
    font-family: "Signika" , sans-serif;
    font-weight: 600;
}

.section-AboutMe {
    border-bottom: 6px rgb(241, 235, 57) solid;
    margin-left: 20px;
    display: inline-block;
    padding-bottom: 0px;
    line-height: 1;
    border-radius: 6px;
}

.section-Projects {
    border-bottom: 6px rgb(0, 119, 255) solid;
    display: inline-block;
    padding-bottom: 2px;
    border-radius: 6px;
}

h3 {
    margin-top: 20px;
}